.font_thin, .form-input {
  font-weight: 300;
}

.form-section {
  margin-bottom: 25px;
}

.form-title {
  text-transform: uppercase;
  color: #f65261;
  margin-bottom: 10px;
  font-weight: normal;
}

.form-input {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: none;
  padding: 0px 10px;
  background: #333;
  color: #fff;
  font-size: 16px;
}
.form-input_date::-webkit-clear-button, .form-input_date::-webkit-inner-spin-button {
  display: none;
}
.form-input_date::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  display: block;
  opacity: 1;
  background: url("../../assets/calendar.png") no-repeat;
  width: 25px;
  height: 25px;
}
.form-input_date::-webkit-calendar-picker-indicator:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
.form-input_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../assets/arrow.png") 95%/5% no-repeat #333;
}
.form-input_select:hover {
  filter: brightness(1.2);
  cursor: pointer;
}