@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

$color-white: #fff;
$color-accent: #f65261;
$color-bg: #232323;
$color-bg-active: rgba(150, 150, 150, 0.5);
$color-border: #333;
$color-darker: #999;

$container-width: 1024px;

@mixin hover {
  filter: brightness(1.2);
  cursor: pointer;
}

@mixin shadow {
  box-shadow: 1px 3px 10px $color-border;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  outline-color: $color-white;
}

body {
  background: $color-bg;
  color: $color-white;
}

.font_thin {
  font-weight: 300;
}

.container {
  width: $container-width;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

#root {
  height: 100%;
}

footer {
  background: $color-border;
  color: $color-accent;
  text-align: center;
  padding: 20px 0;
}

.heading {
  a {
    color: $color-accent;
    text-decoration: none;
  }
}
