@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  outline-color: $color-white;
}

body {
  background: $color-bg;
  color: $color-white;
}

.container {
  width: $container-width;
  margin: 0 auto;
  padding: 10px 0;
}

#root {
  height: 100%;
}

footer {
  background: $color-border;
  color: $color-accent;
  text-align: center;
  padding: 20px 0;
}

.heading {
  a {
    color: $color-accent;
    text-decoration: none;
  }
}

.button {
  &_ghost {
    background: $color-bg-active;
    color: $color-accent;
  }

  &_filled {
    background: $color-accent;

    @include hover;
  }

  &_outlined {
    background: $color-bg;
    border: 1px solid $color-accent;
    color: $color-accent;

    @include hover;
  }
}

.fixed-center-page {
  header {
    position: fixed;
    top: 10px;
    width: $container-width;
  }

  display: flex;
  align-items: center;
}